@model canteen_management_system.Models.rating_master

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>rating_master</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.update_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.update_datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_delete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_delete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.food_item_master.item_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.food_item_master.item_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_master.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_master.first_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
