@model canteen_management_system.Models.food_item_master


@{
    Layout = null;
}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Binary Admin</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <style>
        .navbar {
            min-height: unset !important;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="height:100%; font-size: 20px;" class="navbar-brand" href="index.html"><i class="fa fa-laptop"></i>&nbsp;Manager</a>
            </div>
            <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
                &nbsp; <a href="@Url.Action("logout","login")" class="btn btn-danger square-btn-adjust btn-xs">Logout&nbsp;<i class="fa fa-sign-out"></i></a>
                @if (Session["user_name"] != null)
                {
                    @Html.ActionLink("hiiii  " + Session["first_name"], null, null, null, null)
                }
            </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <style>
                .sidebar-collapse > .nav > li > a {
                    display: flex;
                    align-items: center;
                    padding: 12px 10px;
                }

                    .sidebar-collapse > .nav > li > a > i {
                        margin: 0 10px;
                        width: 30px;
                        text-align: center;
                    }

                    .sidebar-collapse > .nav > li > a > span {
                        position: absolute;
                        right: 10px;
                    }
            </style>
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <img style="width: 75px; margin: 10px auto;" src="~/assets/img/find_user.png" class="user-image img-responsive" />
                    </li>

                    <li>
                        <a href="@Url.Action("Index","food_category_master")"><i class="fa fa-list-ul fa-2x"></i> Food Category<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Create","food_category_master")">Add Category</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","food_category_master")">Delete Category</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","food_category_master")">Details Category</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","food_category_master")">Edit Category</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="@Url.Action("index","food_item_master")"><i class="fa fa-dot-circle-o fa-2x"></i> Food Item <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Create","food_item_master")">Add Item</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","food_item_master")">Delete Item</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","food_item_master")">Details Item</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","food_item_master")">Edit Item</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="@Url.Action("Index","user_master")"><i class="fa fa-file-text-o fa-2x"></i> View All Deatails</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","payment_master")"><i class="fa fa-inr fa-2x"></i> View Payment Details</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","feedback_master")"><i class="fa fa-smile-o fa-2x"></i> View feedback</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","rating_master")"><i class="fa fa-dashboard fa-2x"></i> View Ratings</a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index","order_master")"><i class="fa fa-calendar fa-2x"></i>View Today Orders</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","order_assign_master")"><i class="fa fa-share-square-o fa-2x"></i> Order Assign </a>
                    </li>


                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <div>




                            <div>

                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.item_name)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.item_name)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.item_description)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.item_description)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.amount)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.amount)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.quantity)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.quantity)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.discount)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.discount)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.image)
                                    </dt>

                                    <dd>
                                        <img src="@Url.Content(Model.image)" width="200" height="200" />
                                    </dd>

                                    @*<dt>
                                        @Html.DisplayNameFor(model => model.create_datetime)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.create_datetime)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.update_datetime)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.update_datetime)
                                    </dd>*@

                                    <dt>
                                        @Html.DisplayNameFor(model => model.is_active)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.is_active)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.is_delete)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.is_delete)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.food_category_master.food_cat_name)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.food_category_master.food_cat_name)
                                    </dd>

                                </dl>
                            </div>
                            <p>

                                <a class="btn btn-primary btn-xs" href="@Url.Action("Index","food_item_master" , null)"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
                            </p>


                        </div>
                    </div>
                    <!-- /. ROW  -->
                    <hr />

                </div>
                <!-- /. PAGE INNER  -->
            </div>
            <!-- /. PAGE WRAPPER  -->
        </div>
        <!-- /. WRAPPER  -->
        <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
        <!-- JQUERY SCRIPTS -->
        <script src="~/assets/js/jquery-1.10.2.js"></script>
        <!-- BOOTSTRAP SCRIPTS -->
        <script src="~/assets/js/bootstrap.min.js"></script>
        <!-- METISMENU SCRIPTS -->
        <script src="~/assets/js/jquery.metisMenu.js"></script>
        <!-- CUSTOM SCRIPTS -->
        <script src="~/assets/js/custom.js"></script>


</body>
</html>







