@model IEnumerable<canteen_management_system.Models.food_item_master>

@{
    ViewBag.Title = "Index";
       if (Session["user_id"] == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }else
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
    
}




@*<p>
        @using (Html.BeginForm("Search", "food_item_master", FormMethod.Get))
        {
            <b>Search By:</b>
            @Html.TextBox("search")<input type="submit" value="Search" />
        }
    </p>*@
<p>
    @using (Html.BeginForm("Search", "food_item_master", FormMethod.Get))
    {
        <div class="blog-search-form">
            <b></b>

            <input name="search" placeholder="Search ">
            <button class="search-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>

        </div>
    }
</p>




<table class="table">
    <tr>
        <th>
            Item name
        </th>
        <th>
            Item Description
        </th>
        <th>
            Amount
        </th>
        <th>
            Quantity
        </th>
        <th>
            Discount
        </th>
        <th>
            Image
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.create_datetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.update_datetime)
            </th>
        <th>
            @Html.DisplayNameFor(model => model.is_active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_delete)
        </th>*@
    <th>
        Food category name
    </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.item_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount)
            </td>
            <td>
                <img src="@Url.Content(item.image)" height="100" width="100" />
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.create_datetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.update_datetime)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_delete)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.food_category_master.food_cat_name)
            </td>
            <td>
                <h2>

                    @Html.ActionLink("Details", "Details", new { id = item.food_item_id }, new { @class = "badge badge-warning" })
                     @Html.ActionLink("Order Now", "OrderNow", "ShoppingCart", new { id = item.food_item_id }, new { @class = "badge badge-primary" , onClick="AddToCart(this)"})
                </h2>
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back to List", "Homeindex", "Home", null, new { @class = "btn btn-warning btn-xs" })

<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1></h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->
